:root {
    --spacing-hw: 4.375rem;
    --background-color-board: hsl(240, 100%, 50%);
    --background-color-border: hsl(240, 100%, 25%);
    --border-width: .625rem;
}

body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: black;
    background-size: 100% ;
}

h1, h2, h3 {
    color: white;
    & a {
        color: white;
    }
}

#board {
    height: 540px;
    width: 630px;
    background-color: var(--background-color-board);
    border: var(--border-width) solid var(--background-color-border);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    height: var(--spacing-hw);
    width: var(--spacing-hw);
    background-color: hsl(0, 0%, 100%);
    border-radius: 50%;
    margin: 7px;
    border: var(--border-width) solid var(--background-color-border);
}


.mario {
    background-image: url("img/Mario.png");
    background-size: 5rem;
    background-position: 50%;
}

.peach {
    background-image: url("img/Peach.png");
    background-size: 5rem;
    background-position: 50%;
}
.sonic {
    background-image: url("img/sonic.png");
    background-size: 5rem;
    background-position: 50%;
}

.luigi {
    background-image: url("img/luigi.png");
    background-size: 5rem;
    background-position: 50%;
}

.bowser {
    background-image: url("img/bowser.png");
    background-size: 5rem;
    background-position: 50%;
}

.yoshi {
    background-image: url("img/yoshi.png");
    background-size: 5rem;
    background-position: 50%;
}


